@model AHDRCwebsite.Models.Artwork

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Artwork</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Acquiredfrom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Acquiredfrom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Acquisitiondate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Acquisitiondate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Additionalfeatures)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Additionalfeatures)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Artist)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Artist)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Artistgender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Artistgender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Artistsg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Artistsg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Associatefeatures)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Associatefeatures)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Auctions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Auctions)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Calabashinfo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Calabashinfo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Certificate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Certificate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Chefferie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Chefferie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Clan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Clan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Collectedby)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Collectedby)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Collectedwhen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Collectedwhen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Collection)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Collection)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Commanditaire)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Commanditaire)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comments)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comments)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Commgender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Commgender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Commonfeatures)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Commonfeatures)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Commsg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Commsg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Condition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Condition)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Confidential)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Confidential)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Createdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Createdate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Createdatemax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Createdatemax)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Createdatemin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Createdatemin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Creditline)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Creditline)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Depth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Depth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diameter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diameter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Donationfrom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Donationfrom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ethnicgroup)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ethnicgroup)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Exhibition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Exhibition)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Features)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Features)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Groups)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Groups)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hairinfo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hairinfo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Height)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Height)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Identifier)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Identifier)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Inventory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Inventory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kingdom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kingdom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Langgroup)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Langgroup)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Length)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Length)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Medbeinfo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Medbeinfo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Medbkinfo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Medbkinfo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Medboinfo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Medboinfo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Medceinfo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Medceinfo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Medclinfo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Medclinfo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Medfeinfo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Medfeinfo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Medfiinfo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Medfiinfo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Medglinfo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Medglinfo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Medhoinfo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Medhoinfo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Medirinfo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Medirinfo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Medium)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Medium)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Medivinfo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Medivinfo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Medmainfo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Medmainfo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Medotinfo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Medotinfo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Medrainfo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Medrainfo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Medreinfo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Medreinfo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Medseedpodsinfo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Medseedpodsinfo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Medshinfo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Medshinfo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Medskinfo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Medskinfo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Medstinfo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Medstinfo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Medwoinfo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Medwoinfo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Needbetter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Needbetter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Objectgender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Objectgender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Objectjanus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Objectjanus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Objectname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Objectname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Objectnameex)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Objectnameex)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Objectnamegn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Objectnamegn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Objectposture)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Objectposture)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Photocopy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Photocopy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Photographer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Photographer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Photoinvnr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Photoinvnr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Photoprov)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Photoprov)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pigmentinfo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pigmentinfo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Provenance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Provenance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ispublic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ispublic)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Publication)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Publication)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Raaiid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Raaiid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Region)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Region)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Restoration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Restoration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ritualassoc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ritualassoc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sitearcheo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sitearcheo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Structuralfeatures)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Structuralfeatures)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tms)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tms)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Village)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Village)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Web)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Web)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Weight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Width)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Width)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Workshop)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Workshop)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Workshoplist)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Workshoplist)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Yaleid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Yaleid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Unit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Unit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Associatfeatures)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Associatfeatures)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Multiline)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Multiline)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Langsubgroup)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Langsubgroup)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Aquisitiondate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Aquisitiondate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Medwoodinfo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Medwoodinfo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reacttmp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reacttmp)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
