@model AHDRCwebsite.Models.Artwork

@{
    ViewData["Title"] = "Details";
    /*string artworkArrayList = artworkQueryString;
    int Arrays = Arrays.asList(artworkArrayList).indexOf("23");*/
}

<link rel="stylesheet" href="~/css/cardoverlay.css">
<link rel="stylesheet" href="~/css/detailpage.css">
<link rel="stylesheet" href="~/css/searchindex.css">
<script type="text/javascript" src="~/js/detailpage.js"></script>

<form class="search-bar-form" asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p class="text-light">
            <div class="input-icons">
                <i class="fa fa-search icon"></i>
                <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" class="search-bar  search-text-light" placeholder="Search...">
            </div>
        </p>
    </div>
    <div id="checkbox-container" class="checkbox-container">
        @if (User.IsInRole("Administrator") || User.IsInRole("Subscriber"))
        {
            <label>
                <input type="checkbox" name="selectedCategory" value="ao" id="ao-checkbox" hidden />
                <span class="text-grey">Objects</span>
            </label>
            <label>
                <input type="checkbox" name="selectedCategory" value="ph" id="ph-checkbox" hidden />
                <span class="text-grey">Field Photos</span>
            </label>
            <label>
                <input type="checkbox" name="selectedCategory" value="wh" id="wh-checkbox" hidden />
                <span class="text-grey">Who's Who</span>
            </label>
            <label>
                <input type="checkbox" name="selectedCategory" value="bk" id="bk-checkbox" hidden />
                <span class="text-grey">Publications</span>
            </label>
            <label>
                <input type="checkbox" name="selectedCategory" value="xp" id="xp-checkbox" hidden />
                <span class="text-grey">Exhibitions</span>
            </label>
            <label>
                <input type="checkbox" name="selectedCategory" value="co" id="co-checkbox" hidden />
                <span class="text-grey">Collections</span>
            </label>
            <label>
                <input type="checkbox" name="selectedCategory" value="au" id="au-checkbox" hidden />
                <span class="text-grey">Auctions</span>
            </label>
        }
        else
        {
            <label>
                <input type="checkbox" name="selectedCategory" value="ao" id="ao-checkbox" disabled hidden />
                <span class="text-grey">Objects</span>
            </label>
            <label>
                <input type="checkbox" name="selectedCategory" value="ph" id="ph-checkbox" disabled hidden />
                <span class="text-grey">Field Photos</span>
            </label>
            <label>
                <input type="checkbox" name="selectedCategory" value="wh" id="wh-checkbox" hidden />
                <span class="text-grey">Who's Who</span>
            </label>
            <label>
                <input type="checkbox" name="selectedCategory" value="bk" id="bk-checkbox" hidden />
                <span class="text-grey">Publications</span>
            </label>
            <label>
                <input type="checkbox" name="selectedCategory" value="xp" id="xp-checkbox" hidden />
                <span class="text-grey">Exhibitions</span>
            </label>
            <label>
                <input type="checkbox" name="selectedCategory" value="co" id="co-checkbox" disabled hidden />
                <span class="text-grey">Collections</span>
            </label>
            <label>
                <input type="checkbox" name="selectedCategory" value="au" id="au-checkbox" hidden />
                <span class="text-grey">Auctions</span>
            </label>
        }
    </div>

</form>


<div class="text-light row info-div justify-content-center">
    <div class="col-5 text-center">
    <a a asp-action="Index" asp-route-currentFilter="@ViewData["CurrentFilter"]"
   asp-route-currentCategory="@ViewData["CurrentSelectedCategory"]" 
   asp-route-pageNumber="@ViewData["pageNumber"]">Back to search results</a>
</div>
<div class="col-auto"></div>
<div class="col-5">
@if(ViewData["artworkQueryStringPrev"] != null)
{
<a asp-action="Details" asp-route-artworkid="@ViewData["artworkQueryStringPrev"]"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   asp-route-currentCategory="@ViewData["CurrentSelectedCategory"]"
   asp-route-artworkQueryString="@ViewData["artworkQueryString"]"><img style="width: 30px;height: 30px;" src=@("/images/arrowleft.png")></a>
}
@if(ViewData["artworkQueryStringNext"] != null)
{
<a asp-action="Details" asp-route-artworkid="@ViewData["artworkQueryStringNext"]"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   asp-route-currentCategory="@ViewData["CurrentSelectedCategory"]"
   asp-route-artworkQueryString="@ViewData["artworkQueryString"]"><img style="width: 30px;height: 30px; float:right;" src=@("/images/arrowright.png")></a>
}
</div>
    <div class="col-5 image-col">
        @if (Model.ArtworkImage.Count >= 1)
        {
            <div id="custCarousel" class="carousel slide" data-interval="false" align="center">
                <div class="carousel-inner">
                    @foreach (var item in Model.ArtworkImage)
                    {
                        var totalAmount = Model.ArtworkImage.Count();
                        var itemList = Model.ArtworkImage.ToList();
                        @if (Model.ArtworkImage.First() == item)
                        {
                            <div class="carousel-item active">
                                <a href="@("/uploads/" + @item.ImageURL)"><img src=@("/uploads/" + @item.ImageURL) class="img-fluid"></a>
                            </div>
                        }
                        else
                        {
                            <div class="carousel-item">
                                <a href="@("/uploads/" + @item.ImageURL)"><img src=@("/uploads/" + @item.ImageURL) class="img-fluid"></a>
                            </div>
                        }

                        @if (Model.ArtworkImage.Last() == item)
                        {
                            <ol class="carousel-indicators list-inline">
                                @for (int i = 0; i < totalAmount; i++)
                                {
                                    var itemThumbnail = itemList[i];
                                    @if (i == 0)
                                    {

                                        <li class="list-inline-item">
                                            <a id="@("carousel-selector-" + i)" class="selected" data-slide-to="@(i)" data-target="#custCarousel">
                                                <img src=@("/uploads/" + @itemThumbnail.ImageURL)>
                                            </a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li>
                                            <a id="@("carousel-selector-" + i)" data-slide-to="@(i)" data-target="#custCarousel">
                                                <img src=@("/uploads/" + @itemThumbnail.ImageURL)>
                                            </a>
                                        </li>
                                    }
                                }
                            </ol>
                        }
                    }
                </div>
            </div>

        } else
        {
            <div id="custCarousel" class="carousel slide" data-interval="false" align="center">
                <div class="carousel-inner">
                            <div class="carousel-item active">
                                <a href="@("/Images/defaultimage")"><img src=@("/Images/defaultimage.jpg") class="img-fluid"></a>
                            </div>
                </div>
            </div>
        }
    </div>

    <div class="col-auto button-group">
        @if(User.Identity.IsAuthenticated)
        {
        <img src=@("/images/download.png")>
        <img src=@("/images/comment.png")>
        <a asp-controller="ArtworkImages" asp-action="Create" asp-route-artworkid="@Model.ArtworkId"><img src=@("/images/pic_add.png")></a>
        }
        @if(User.IsInRole("Administrator"))
        {
        <a asp-action="Edit" asp-route-artworkid="@Model.ArtworkId"><img src=@("/images/page_edit.png")></a>
        <a asp-action="Create"><img src=@("/images/page_new.png")></a>
        <a asp-action="Delete" asp-route-artworkid="@Model.ArtworkId"><img src=@("/images/page_delete.png")></a>
        <img src=@("/images/page_move.png")>
        <img src=@("/images/book.png")>
        //we are still missing some buttons!
        }
    </div>
    <div class="col-5">
        
        <h1>@Model.IdentifierNoCategory</h1>
        @if(@Model.Category != "co" && @Model.Category != "wh" && @Model.Category != "au" && @Model.Category != "bk")
        {
        <h1 onclick="hideGeographicalInfo()">Geographical / Ethnic Information</h1>
        <div id="geographicalInfo">
            <table>
                <tbody>
                    @if (Model.Chefferie != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Chefferie)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Chefferie)
                            </td>
                        </tr>
                    }
                    @if (Model.Clan != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Clan)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Clan)
                            </td>
                        </tr>
                    }
                    @if (Model.Country != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Country)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Country)
                            </td>
                        </tr>
                    }
                    @if (Model.Ethnicgroup != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Ethnicgroup)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Ethnicgroup)
                            </td>
                        </tr>
                    }
                    @if (Model.Kingdom != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Kingdom)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Kingdom)
                            </td>
                        </tr>
                    }
                    @if (Model.Langgroup != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Langgroup)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Langgroup)
                            </td>
                        </tr>
                    }
                    @if (Model.Region != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Region)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Region)
                            </td>
                        </tr>
                    }
                    @if (Model.Sitearcheo != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Sitearcheo)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Sitearcheo)
                            </td>
                        </tr>
                    }
                    @if (Model.Village != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Village)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Village)
                            </td>
                        </tr>
                    }
                    @if (Model.Langsubgroup != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Langsubgroup)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Langsubgroup)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <h1 onclick="hideObjectInfo()">Object Information</h1>
        <div id="objectInfo">
            <table>
                <tbody>
                    @if (Model.Objectgender != null)
                {
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.Objectgender)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Objectgender)
                        </td>
                    </tr>
                }
                @if (Model.Objectjanus != null)
                {
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.Objectjanus)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Objectjanus)
                        </td>
                    </tr>
                }
                @if (Model.Objectname != null)
                {
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.Objectname)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Objectname)
                        </td>
                    </tr>
                }
                @if (Model.Objectnameex != null)
                {
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.Objectnameex)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Objectnameex)
                        </td>
                    </tr>
                }
                @if (Model.Objectnamegn != null)
                {
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.Objectnamegn)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Objectnamegn)
                        </td>
                    </tr>
                }
                @if (Model.Objectposture != null)
                {
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.Objectposture)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Objectposture)
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
       
        <h1 onclick="hidePhysicalInfo()">Physical Information</h1>
        <div id="physicalInfo" class="text-info-div">
            <table>
                <tbody>
                    @if (Model.Calabashinfo != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Calabashinfo)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Calabashinfo)
                            </td>
                        </tr>
                    }
                    @if (Model.Condition != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Condition)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Condition)
                            </td>
                        </tr>
                    }
                    @if (Model.Depth != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Depth)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Depth)
                            </td>
                        </tr>
                    }
                    @if (Model.Diameter != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Diameter)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Diameter)
                            </td>
                        </tr>
                    }
                    @if (Model.Hairinfo != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Hairinfo)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Hairinfo)
                            </td>
                        </tr>
                    }
                    @if (Model.Height != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Height)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Height) (cm)
                            </td>
                        </tr>
                    }
                    @if (Model.Length != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Length)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Length)
                            </td>
                        </tr>
                    }
                    @if (Model.Medbeinfo != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Medbeinfo)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Medbeinfo)
                            </td>
                        </tr>
                    }
                    @if (Model.Medbkinfo != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Medbkinfo)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Medbkinfo)
                            </td>
                        </tr>
                    }
                    @if (Model.Medboinfo != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Medboinfo)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Medboinfo)
                            </td>
                        </tr>
                    }
                    @if (Model.Medceinfo != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Medceinfo)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Medceinfo)
                            </td>
                        </tr>
                    }
                    @if (Model.Medclinfo != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Medclinfo)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Medclinfo)
                            </td>
                        </tr>
                    }
                    @if (Model.Medfeinfo != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Medfeinfo)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Medfeinfo)
                            </td>
                        </tr>
                    }
                    @if (Model.Medfiinfo != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Medfiinfo)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Medfiinfo)
                            </td>
                        </tr>
                    }
                    @if (Model.Medglinfo != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Medglinfo)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Medglinfo)
                            </td>
                        </tr>
                    }
                    @if (Model.Medhoinfo != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Medhoinfo)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Medhoinfo)
                            </td>
                        </tr>
                    }
                    @if (Model.Medirinfo != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Medirinfo)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Medirinfo)
                            </td>
                        </tr>
                    }
                    @if (Model.Medium != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Medium)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Medium)
                            </td>
                        </tr>
                    }
                    @if (Model.Medivinfo != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Medivinfo)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Medivinfo)
                            </td>
                        </tr>
                    }
                    @if (Model.Medmainfo != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Medmainfo)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Medmainfo)
                            </td>
                        </tr>
                    }
                    @if (Model.Medotinfo != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Medotinfo)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Medotinfo)
                            </td>
                        </tr>
                    }
                    @if (Model.Medrainfo != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Medrainfo)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Medrainfo)
                            </td>
                        </tr>
                    }
                    @if (Model.Medreinfo != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Medreinfo)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Medreinfo)
                            </td>
                        </tr>
                    }
                    @if (Model.Medseedpodsinfo != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Medseedpodsinfo)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Medseedpodsinfo)
                            </td>
                        </tr>
                    }
                    @if (Model.Medshinfo != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Medshinfo)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Medshinfo)
                            </td>
                        </tr>
                    }
                    @if (Model.Medskinfo != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Medskinfo)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Medskinfo)
                            </td>
                        </tr>
                    }
                    @if (Model.Medstinfo != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Medstinfo)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Medstinfo)
                            </td>
                        </tr>
                    }
                    @if (Model.Medwoinfo != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Medwoinfo)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Medwoinfo)
                            </td>
                        </tr>
                    }
                    @if (Model.Pigmentinfo != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Pigmentinfo)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Pigmentinfo)
                            </td>
                        </tr>
                    }
                    @if (Model.Restoration != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Restoration)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Restoration)
                            </td>
                        </tr>
                    }
                    @if (Model.Weight != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Weight)
                            </td>
                            <td> 
                                @Html.DisplayFor(model => model.Weight) (g)
                            </td>
                        </tr>
                    }
                    @if (Model.Width != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Width)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Width)
                            </td>
                        </tr>
                    }
                    @if (Model.Medwoodinfo != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Medwoodinfo)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Medwoodinfo)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
       
        <h1 onclick="hideHistoryInfo()">History of Object</h1>
        <div id="historyInfo">
            <table>
                <tbody>
                    @if (Model.Acquiredfrom != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Acquiredfrom)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Acquiredfrom)
                            </td>
                        </tr>
                    }
                    @if (Model.Acquisitiondate != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Acquisitiondate)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Acquisitiondate)
                            </td>
                        </tr>
                    }
                    @if (Model.Auctions != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Auctions)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Auctions)
                            </td>
                        </tr>
                    }
                    @if (Model.Certificate != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Certificate)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Certificate)
                            </td>
                        </tr>
                    }
                    @if (Model.Collectedby != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Collectedby)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Collectedby)
                            </td>
                        </tr>
                    }
                    @if (Model.Collectedwhen != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Collectedwhen)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Collectedwhen)
                            </td>
                        </tr>
                    }
                    @if (Model.Collection != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Collection)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Collection)
                            </td>
                        </tr>
                    }
                    @if (Model.Creditline != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Creditline)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Creditline)
                            </td>
                        </tr>
                    }
                    @if (Model.Donationfrom != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Donationfrom)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Donationfrom)
                            </td>
                        </tr>
                    }
                    @if (Model.Exhibition != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Exhibition)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Exhibition)
                            </td>
                        </tr>
                    }
                    @if (Model.Inventory != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Inventory)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Inventory)
                            </td>
                        </tr>
                    }
                    @if (Model.Provenance != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Provenance)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Provenance)
                            </td>
                        </tr>
                    }
                    @if (Model.Ispublic != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Ispublic)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Ispublic)
                            </td>
                        </tr>
                    }
                    @if (Model.Publication != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Publication)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Publication)
                            </td>
                        </tr>
                    }
                    @if (Model.Aquisitiondate != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Aquisitiondate)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Aquisitiondate)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <h1 onclick="hideAuthorshipInfo()">Authorship</h1>
        <div id="authorshipInfo">
            <table>
                <tbody>
                    @if (Model.Artist != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Artist)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Artist)
                            </td>
                        </tr>
                    }
                    @if (Model.Artistgender != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Artistgender)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Artistgender)
                            </td>
                        </tr>
                    }
                    @if (Model.Artistsg != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Artistsg)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Artistsg)
                            </td>
                        </tr>
                    }
                    @if (Model.Commgender != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Commgender)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Commgender)
                            </td>
                        </tr>
                    }
                    @if (Model.Commsg != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Commsg)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Commsg)
                            </td>
                        </tr>
                    }
                    @if (Model.Createdate != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Createdate)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Createdate)
                            </td>
                        </tr>
                    }
                    @if (Model.Createdatemax != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Createdatemax)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Createdatemax)
                            </td>
                        </tr>
                    }
                    @if (Model.Createdatemin != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Createdatemin)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Createdatemin)
                            </td>
                        </tr>
                    }
                    @if (Model.Workshop != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Workshop)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Workshop)
                            </td>
                        </tr>
                    }
                    @if (Model.Workshoplist != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Workshoplist)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Workshoplist)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <h1 onclick="hideNotesInfo()">Notes</h1>
        <div id="notesInfo">
            <table>
                <tbody>
                    @if (Model.Additionalfeatures != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Additionalfeatures)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Additionalfeatures)
                            </td>
                        </tr>
                    }
                    @if (Model.Associatefeatures != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Associatefeatures)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Associatefeatures)
                            </td>
                        </tr>
                    }
                    @if (Model.Commanditaire != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Commanditaire)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Commanditaire)
                            </td>
                        </tr>
                    }
                    @if (Model.Comments != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Comments)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Comments)
                            </td>
                        </tr>
                    }
                    @if (Model.Commonfeatures != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Commonfeatures)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Commonfeatures)
                            </td>
                        </tr>
                    }
                    @if (Model.Confidential != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Confidential)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Confidential)
                            </td>
                        </tr>
                    }
                    @if (Model.Features != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Features)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Features)
                            </td>
                        </tr>
                    }
                    @if (Model.Ritualassoc != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Ritualassoc)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Ritualassoc)
                            </td>
                        </tr>
                    }
                    @if (Model.Usage != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Usage)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Usage)
                            </td>
                        </tr>
                    }
                    @if (Model.Associatfeatures != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Associatfeatures)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Associatfeatures)
                            </td>
                        </tr>
                    }
                    @if (Model.Structuralfeatures != null)
                {
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.Structuralfeatures)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Structuralfeatures)
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
        
        }

        @if(@Model.Category == "co")
        {
        <h1 onclick="hideGeographicalInfo()">Geographical / Ethnic Information</h1>
        <div id="geographicalInfo">
            <table>
                <tbody>
                    @if (Model.Country != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Country)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Country)
                            </td>
                        </tr>
                    }
                    @if (Model.Ethnicgroup != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Ethnicgroup)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Ethnicgroup)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <h1 onclick="hideAuthorshipInfo()">Authorship</h1>
        <div id="whatisitInfo">
            <table>
                <tbody>
                    @if (Model.Datemin != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Datemin)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Datemin)
                            </td>
                        </tr>
                    }
                    @if (Model.Datemax != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Datemax)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Datemax)
                            </td>
                        </tr>
                    }
                    </tbody>
            </table>
        </div>

        <h1 onclick="hideObjectInfo()">What is it?</h1>
        <div id="objectInfo">
            <table>
                <tbody>
                    @if (Model.Acquiredfrom != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Objectname)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Objectname)
                            </td>
                        </tr>
                    }
                    </tbody>
            </table>
        </div>

        <h1 onclick="hideHistoryInfo()">History of Object</h1>
        <div id="historyInfo">
            <table>
                <tbody>
                    @if (Model.Auctions != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Auctions)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Auctions)
                            </td>
                        </tr>
                    }
                    @if (Model.Collectedby != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Collectedby)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Collectedby)
                            </td>
                        </tr>
                    }
                    @if (Model.Collectedwhen != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Collectedwhen)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Collectedwhen)
                            </td>
                        </tr>
                    }
                    @if (Model.Collection != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Collection)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Collection)
                            </td>
                        </tr>
                    }
                    @if (Model.Exhibition != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Exhibition)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Exhibition)
                            </td>
                        </tr>
                    }
                    @if (Model.Provenance != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Provenance)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Provenance)
                            </td>
                        </tr>
                    }
                    @if (Model.Ispublic != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Ispublic)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Ispublic)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <h1 onclick="hideNotesInfo()">Notes</h1>
        <div id="notesInfo">
            <table>
                <tbody>
                    @if (Model.Comments != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Comments)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Comments)
                            </td>
                        </tr>
                    }
                    @if (Model.Confidential != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Confidential)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Confidential)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        
        }

        @if(@Model.Category == "wh")
        {
        <h1 onclick="hideGeographicalInfo()">Information on person</h1>
        <div id="geographicalInfo">
            <table>
                <tbody>
                    @if (Model.Last_name != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Last_name)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Last_name)
                            </td>
                        </tr>
                    }
                    @if (Model.First_Name != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.First_Name)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.First_Name)
                            </td>
                        </tr>
                    }
                    @if (Model.Full_name != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Full_name)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Full_name)
                            </td>
                        </tr>
                    }
                    @if (Model.Born != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Born)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Born)
                            </td>
                        </tr>
                    }
                    @if (Model.Dead != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Dead)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Dead)
                            </td>
                        </tr>
                    }
                    @if (Model.Categoryofobject != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Categoryofobject)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Categoryofobject)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <h1 onclick="hideNotesInfo()">Notes</h1>
        <div id="notesInfo">
            <table>
                <tbody>
                    @if (Model.Biography != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Biography)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Biography)
                            </td>
                        </tr>
                    }
                    @if (Model.Bio2 != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Bio2)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Bio2)
                            </td>
                        </tr>
                    }
                    @if (Model.Author != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Author)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Author)
                            </td>
                        </tr>
                    }
                    @if (Model.Book_about != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Book_about)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Book_about)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        
        }

        @if(@Model.Category == "au")
        {
        <h1 onclick="hideGeographicalInfo()">Information on event</h1>
        <div id="geographicalInfo">
            <table>
                <tbody>
                    @if (Model.Title != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Title)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Title)
                            </td>
                        </tr>
                    }
                    @if (Model.Author != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Author)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Author)
                            </td>
                        </tr>
                    }
                    @if (Model.Publisher != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Publisher)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Publisher)
                            </td>
                        </tr>
                    }
                    @if (Model.Year != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Year)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Year)
                            </td>
                        </tr>
                    }
                    @if (Model.Date != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Date)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Date)
                            </td>
                        </tr>
                    }
                    @if (Model.ISBN != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.ISBN)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.ISBN)
                            </td>
                        </tr>
                    }
                    @if (Model.Country != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Country)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Country)
                            </td>
                        </tr>
                    }
                    @if (Model.Categoryofobject != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Categoryofobject)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Categoryofobject)
                            </td>
                        </tr>
                    }
                    @if (Model.Collections != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Collections)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Collections)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <h1 onclick="hideNotesInfo()">Notes</h1>
        <div id="notesInfo">
            <table>
                <tbody>
                    @if (Model.Comments != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Comments)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Comments)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        
        }

        @if(@Model.Category == "bk")
        {
        <h1 onclick="hideGeographicalInfo()">Information on event</h1>
        <div id="geographicalInfo">
            <table>
                <tbody>
                    @if (Model.Title != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Title)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Title)
                            </td>
                        </tr>
                    }
                    @if (Model.Author != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Author)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Author)
                            </td>
                        </tr>
                    }
                    @if (Model.Publisher != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Publisher)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Publisher)
                            </td>
                        </tr>
                    }
                    @if (Model.Year != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Year)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Year)
                            </td>
                        </tr>
                    }
                    @if (Model.Date != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Date)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Date)
                            </td>
                        </tr>
                    }
                    @if (Model.Reprints != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Reprints)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Reprints)
                            </td>
                        </tr>
                    }
                    @if (Model.ISBN != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.ISBN)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.ISBN)
                            </td>
                        </tr>
                    }
                    @if (Model.Country != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Country)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Country)
                            </td>
                        </tr>
                    }
                    @if (Model.Categoryofobject != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Categoryofobject)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Categoryofobject)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <h1 onclick="hideNotesInfo()">Notes</h1>
        <div id="notesInfo">
            <table>
                <tbody>
                    @if (Model.Comments != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Comments)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Comments)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        
        }

        <h1>Photographic Information</h1>
        <table>
            <tbody>

                @if (Model.Needbetter != null)
                {
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.Needbetter)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Needbetter)
                        </td>
                    </tr>
                }
                @if (Model.Photocopy != null)
                {
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.Photocopy)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Photocopy)
                        </td>
                    </tr>
                }
                @if (Model.Photographer != null)
                {
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.Photographer)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Photographer)
                        </td>
                    </tr>
                }
                @if (Model.Photoinvnr != null)
                {
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.Photoinvnr)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Photoinvnr)
                        </td>
                    </tr>
                }
                @if (Model.Photoprov != null)
                {
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.Photoprov)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Photoprov)
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <h1>Delete / unknown</h1>
        <table>
            <tbody>
                @if (Model.Tms != null)
                {
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.Tms)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Tms)
                        </td>
                    </tr>
                }
                @if (Model.Web != null)
                {
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.Web)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Web)
                        </td>
                    </tr>
                }
                @if (Model.Yaleid != null)
                {
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.Yaleid)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Yaleid)
                        </td>
                    </tr>
                }
                @if (Model.Unit != null)
                {
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.Groups)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Groups)
                        </td>
                    </tr>
                }
                @if (Model.Unit != null)
                {
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.Unit)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Unit)
                        </td>
                    </tr>
                }
                @if (Model.Multiline != null)
                {
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.Multiline)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Multiline)
                        </td>
                    </tr>
                }
                @if (Model.Reacttmp != null)
                {
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.Reacttmp)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Reacttmp)
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>
