@model AHDRCwebsite.Models.Artwork

@{
    ViewData["Title"] = "Edit";
}

<link rel="stylesheet" href="~/css/cardoverlay.css">
<link rel="stylesheet" href="~/css/detailpage.css">
<script type="text/javascript" src="detailpage.js"></script>

<h1 class="text-light">Edit</h1>

<div class="text-light row info-div justify-content-center">
    <div class="col-5 image-col">
        @if (Model.ArtworkImage != null && Model.ArtworkImage.Count() >= 1)
        {
            <div id="custCarousel" class="carousel slide" data-interval="false" align="center">
                <div class="carousel-inner">
                    @foreach (var item in Model.ArtworkImage)
                    {
                        var totalAmount = Model.ArtworkImage.Count();
                        var itemList = Model.ArtworkImage.ToList();
                        @if (Model.ArtworkImage.First() == item)
                        {
                            <div class="carousel-item active">
                                <a asp-controller="ArtworkImages" asp-action="delete" asp-route-id="@item.Id"><img src=@("/uploads/" + @item.ImageURL) class="img-fluid"></a>
                            </div>
                        }
                        else
                        {
                            <div class="carousel-item">
                                <a asp-controller="ArtworkImages" asp-action="delete" asp-route-id="@item.Id"><img src=@("/uploads/" + @item.ImageURL) class="img-fluid"></a>
                            </div>
                        }

                        @if (Model.ArtworkImage.Last() == item)
                        {
                            <ol class="carousel-indicators list-inline">
                                @for (int i = 0; i < totalAmount; i++)
                                {
                                    var itemThumbnail = itemList[i];
                                    @if (i == 0)
                                    {

                                        <li class="list-inline-item">
                                            <a id="@("carousel-selector-" + i)" class="selected" data-slide-to="@(i)" data-target="#custCarousel">
                                                <img src=@("/uploads/" + @itemThumbnail.ImageURL)>
                                            </a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li>
                                            <a id="@("carousel-selector-" + i)" data-slide-to="@(i)" data-target="#custCarousel">
                                                <img src=@("/uploads/" + @itemThumbnail.ImageURL)>
                                            </a>
                                        </li>
                                    }
                                }
                            </ol>
                        }
                    }
                </div>
            </div>

        }
        else
        {
            <div id="custCarousel" class="carousel slide" data-interval="false" align="center">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <a href="@("/Images/defaultimage")"><img src=@("/Images/defaultimage.jpg") class="img-fluid"></a>
                    </div>
                </div>
            </div>
        }
    </div>

    <div class="col-auto button-group">
        @if (User.Identity.IsAuthenticated)
        {
            <img src=@("/images/download.png")>
            <img src=@("/images/comment.png")>
            <a asp-controller="ArtworkImages" asp-action="Create" asp-route-id="@Model.Id"><img src=@("/images/pic_add.png")></a>
        }
        @if (User.IsInRole("Administrator"))
        {
            <a asp-action="Edit" asp-route-id="@Model.Id"><img src=@("/images/page_edit.png")></a>
            <a asp-action="Create"><img src=@("/images/page_new.png")></a>
            <a asp-action="Delete" asp-route-id="@Model.Id"><img src=@("/images/page_delete.png")></a>
            <img src=@("/images/page_move.png")>
            <img src=@("/images/book.png")>
            //we are still missing some buttons!
        }
    </div>
    <div class="col-5">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="theForm">
                 <input type="hidden" asp-for="Id"/>
            <div class="form-group" hidden>
                <label asp-for="Category" class="control-label"></label>
                <select asp-for="Category" class="form-control">
                    <option value="ao">Objects</option>
                    <option value="ph">Field Photos</option>
                    <option value="wh">Who's who</option>
                    <option value="bk">Publications</option>
                    <option value="xp">Exhibitions</option>
                    <option value="co">Collections</option>
                    <option value="au">Auctions</option>
                    </select>
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div hidden>
                            <td>
                                @Html.DisplayNameFor(model => model.Identifier)
                            </td>
                            <td>
                                <input asp-for="Identifier" class="form-control" />
                            </td>
                        </tr>
                        </div>
            <h1>@Model.IdentifierNoCategory</h1>
            <h1 onclick="hideGeographicalInfo()">Geographical / Ethnic Information</h1>
            <div id="geographicalInfo">
                <table>
                    <tbody>
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.Chefferie)
                                </td>
                                <td>
                                    <input asp-for="Chefferie" class="form-control" />
                                </td>
                            </tr>
                        
                        
                        
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.Clan)
                                </td>
                                <td>
                                    <input asp-for="Clan" class="form-control" />
                                </td>
                            </tr>
                        
                        
                        
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.Country)
                                </td>
                                <td>
                                    <input asp-for="Country" class="form-control" />
                                </td>
                            </tr>
                        
                        
                        
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.Ethnicgroup)
                                </td>
                                <td>
                                    <input asp-for="Ethnicgroup" class="form-control" />
                                </td>
                            </tr>
                        
                        
                        
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.Kingdom)
                                </td>
                                <td>
                                    <input asp-for="Kingdom" class="form-control" />
                                </td>
                            </tr>
                        
                        
                        
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.Langgroup)
                                </td>
                                <td>
                                    <input asp-for="Langgroup" class="form-control" />
                                </td>
                            </tr>
                        
                        
                        
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.Region)
                                </td>
                                <td>
                                    <input asp-for="Region" class="form-control" />
                                </td>
                            </tr>
                        
                        
                        
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.Sitearcheo)
                                </td>
                                <td>
                                    <input asp-for="Sitearcheo" class="form-control" />
                                </td>
                            </tr>
                        
                        
                        
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.Village)
                                </td>
                                <td>
                                    <input asp-for="Village" class="form-control" />
                                </td>
                            </tr>
                        
                        
                        
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.Langsubgroup)
                                </td>
                                <td>
                                    <input asp-for="Langsubgroup" class="form-control" />
                                </td>
                            </tr>
                        
                    </tbody>
                </table>
            </div>

            <h1 onclick="hideObjectInfo()">Object Information</h1>
            <div id="objectInfo">
                <table>
                    <tbody>
                        
                        
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.Objectgender)
                                </td>
                                <td>
                                    <input asp-for="Objectgender" class="form-control" />
                                </td>
                            </tr>
                        
                        
                        
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.Objectjanus)
                                </td>
                                <td>
                                    <input asp-for="Objectjanus" class="form-control" />
                                </td>
                            </tr>
                        
                        
                        
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.Objectname)
                                </td>
                                <td>
                                    <input asp-for="Objectname" class="form-control" />
                                </td>
                            </tr>
                        
                        
                        
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.Objectnameex)
                                </td>
                                <td>
                                    <input asp-for="Objectnameex" class="form-control" />
                                </td>
                            </tr>
                        
                        
                        
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.Objectnamegn)
                                </td>
                                <td>
                                    <input asp-for="Objectnamegn" class="form-control" />
                                </td>
                            </tr>
                        
                        
                        
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.Objectposture)
                                </td>
                                <td>
                                    <input asp-for="Objectposture" class="form-control" />
                                </td>
                            </tr>
                        
                    </tbody>
                </table>
            </div>

            <h1 onclick="hidePhysicalInfo()">Physical Information</h1>
            <div id="physicalInfo" class="text-info-div">
                <table>
                    <tbody>
                        
                        
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.Calabashinfo)
                                </td>
                                <td>
                                    <input asp-for="Calabashinfo" class="form-control" />
                                </td>
                            </tr>
                        
                        
                        
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.Condition)
                                </td>
                                <td>
                                    <input asp-for="Condition" class="form-control" />
                                </td>
                            </tr>
                        
                        
                        
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.Depth)
                                </td>
                                <td>
                                    <input asp-for="Depth" class="form-control" />
                                </td>
                            </tr>
                        
                        
                        
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.Diameter)
                                </td>
                                <td>
                                    <input asp-for="Diameter" class="form-control" />
                                </td>
                            </tr>
                        
                        
                        
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.Hairinfo)
                                </td>
                                <td>
                                    <input asp-for="Hairinfo" class="form-control" />
                                </td>
                            </tr>
                        
                        
                        
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.Height)
                                </td>
                                <td>
                                    <input asp-for="Height" class="form-control" />
                                </td>
                            </tr>
                        
                        
                        
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.Length)
                                </td>
                                <td>
                                    <input asp-for="Length" class="form-control" />
                                </td>
                            </tr>
                        
                        
                        
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.Medbeinfo)
                                </td>
                                <td>
                                    <input asp-for="Medbeinfo" class="form-control" />
                                </td>
                            </tr>
                        
                        
                        
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.Medbkinfo)
                                </td>
                                <td>
                                    <input asp-for="Medbkinfo" class="form-control" />
                                </td>
                            </tr>
                        
                        
                        
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.Medboinfo)
                                </td>
                                <td>
                                    <input asp-for="Medboinfo" class="form-control" />
                                </td>
                            </tr>
                        
                        
                        
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.Medceinfo)
                                </td>
                                <td>
                                    <input asp-for="Medceinfo" class="form-control" />
                                </td>
                            </tr>
                        
                        
                        
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.Medclinfo)
                                </td>
                                <td>
                                    <input asp-for="Medclinfo" class="form-control" />
                                </td>
                            </tr>
                        
                        
                        
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.Medfeinfo)
                                </td>
                                <td>
                                    <input asp-for="Medfeinfo" class="form-control" />
                                </td>
                            </tr>
                        
                        
                        
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.Medfiinfo)
                                </td>
                                <td>
                                    <input asp-for="Medfiinfo" class="form-control" />
                                </td>
                            </tr>
                        
                        
                        
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.Medglinfo)
                                </td>
                                <td>
                                    <input asp-for="Medglinfo" class="form-control" />
                                </td>
                            </tr>
                        
                        
                        
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.Medhoinfo)
                                </td>
                                <td>
                                    <input asp-for="Medhoinfo" class="form-control" />
                                </td>
                            </tr>
                        
                        
                        
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.Medirinfo)
                                </td>
                                <td>
                                    <input asp-for="Medirinfo" class="form-control" />
                                </td>
                            </tr>
                        
                        
                        
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.Medium)
                                </td>
                                <td>
                                    <input asp-for="Medium" class="form-control" />
                                </td>
                            </tr>
                        
                        
                        
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.Medivinfo)
                                </td>
                                <td>
                                    <input asp-for="Medivinfo" class="form-control" />
                                </td>
                            </tr>
                        
                        
                        
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.Medmainfo)
                                </td>
                                <td>
                                    <input asp-for="Medmainfo" class="form-control" />
                                </td>
                            </tr>
                        
                        
                        
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.Medotinfo)
                                </td>
                                <td>
                                    <input asp-for="Medotinfo" class="form-control" />
                                </td>
                            </tr>
                        
                        
                        
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.Medrainfo)
                                </td>
                                <td>
                                    <input asp-for="Medrainfo" class="form-control" />
                                </td>
                            </tr>
                        
                        
                        
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.Medreinfo)
                                </td>
                                <td>
                                    <input asp-for="Medreinfo" class="form-control" />
                                </td>
                            </tr>
                        
                        
                        
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.Medseedpodsinfo)
                                </td>
                                <td>
                                    <input asp-for="Medseedpodsinfo" class="form-control" />
                                </td>
                            </tr>
                        
                        
                        
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.Medshinfo)
                                </td>
                                <td>
                                    <input asp-for="Medshinfo" class="form-control" />
                                </td>
                            </tr>
                        
                        
                        
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.Medskinfo)
                                </td>
                                <td>
                                    <input asp-for="Medskinfo" class="form-control" />
                                </td>
                            </tr>
                        
                        
                        
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.Medstinfo)
                                </td>
                                <td>
                                    <input asp-for="Medstinfo" class="form-control" />
                                </td>
                            </tr>
                        
                        
                        
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.Medwoinfo)
                                </td>
                                <td>
                                    <input asp-for="Medwoinfo" class="form-control" />
                                </td>
                            </tr>
                        
                        
                        
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.Pigmentinfo)
                                </td>
                                <td>
                                    <input asp-for="Pigmentinfo" class="form-control" />
                                </td>
                            </tr>
                        
                        
                        
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.Restoration)
                                </td>
                                <td>
                                    <input asp-for="Restoration" class="form-control" />
                                </td>
                            </tr>
                        
                        
                        
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.Weight)
                                </td>
                                <td>
                                    <input asp-for="Weight" class="form-control" />
                                </td>
                            </tr>
                        
                        
                        
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.Width)
                                </td>
                                <td>
                                    <input asp-for="Width" class="form-control" />
                                </td>
                            </tr>
                        
                        
                        
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.Medwoodinfo)
                                </td>
                                <td>
                                    <input asp-for="Medwoodinfo" class="form-control" />
                                </td>
                            </tr>
                        
                    </tbody>
                </table>
            </div>

            <h1 onclick="hideHistoryInfo()">History of Object</h1>
            <div id="historyInfo">
                <table>
                    <tbody>
                        
                        
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.Acquiredfrom)
                                </td>
                                <td>
                                    <input asp-for="Acquiredfrom" class="form-control" />
                                </td>
                            </tr>
                        
                        
                        
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.Acquisitiondate)
                                </td>
                                <td>
                                    <input asp-for="Acquisitiondate" class="form-control" />
                                </td>
                            </tr>
                        
                        
                        
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.Auctions)
                                </td>
                                <td>
                                    <input asp-for="Auctions" class="form-control" />
                                </td>
                            </tr>
                        
                        
                        
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.Certificate)
                                </td>
                                <td>
                                    <input asp-for="Certificate" class="form-control" />
                                </td>
                            </tr>
                        
                        
                        
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.Collectedby)
                                </td>
                                <td>
                                    <input asp-for="Collectedby" class="form-control" />
                                </td>
                            </tr>
                        
                        
                        
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.Collectedwhen)
                                </td>
                                <td>
                                    <input asp-for="Collectedwhen" class="form-control" />
                                </td>
                            </tr>
                        
                        
                        
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.Collection)
                                </td>
                                <td>
                                    <input asp-for="Collection" class="form-control" />
                                </td>
                            </tr>
                        
                        
                        
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.Creditline)
                                </td>
                                <td>
                                    <input asp-for="Creditline" class="form-control" />
                                </td>
                            </tr>
                        
                        
                        
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.Donationfrom)
                                </td>
                                <td>
                                    <input asp-for="Donationfrom" class="form-control" />
                                </td>
                            </tr>
                        
                        
                        
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.Exhibition)
                                </td>
                                <td>
                                    <input asp-for="Exhibition" class="form-control" />
                                </td>
                            </tr>
                        
                        
                        
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.Inventory)
                                </td>
                                <td>
                                    <input asp-for="Inventory" class="form-control" />
                                </td>
                            </tr>
                        
                        
                        
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.Provenance)
                                </td>
                                <td>
                                    <input asp-for="Provenance" class="form-control" />
                                </td>
                            </tr>
                        
                        
                        
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.Ispublic)
                                </td>
                                <td>
                                    <select asp-for="Ispublic" class="form-control">
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                </select>
                                </td>
                            </tr>
                        
                        
                        
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.Publication)
                                </td>
                                <td>
                                    <input asp-for="Publication" class="form-control" />
                                </td>
                            </tr>
                        
                        
                        
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.Aquisitiondate)
                                </td>
                                <td>
                                    <input asp-for="Aquisitiondate" class="form-control" />
                                </td>
                            </tr>
                        
                    </tbody>
                </table>
            </div>

            <h1 onclick="hideAuthorshipInfo()">Authorship</h1>
            <div id="authorshipInfo">
                <table>
                    <tbody>
                        
                        
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.Artist)
                                </td>
                                <td>
                                    <input asp-for="Artist" class="form-control" />
                                </td>
                            </tr>
                        
                        
                        
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.Artistgender)
                                </td>
                                <td>
                                    <input asp-for="Artistgender" class="form-control" />
                                </td>
                            </tr>
                        
                        
                        
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.Artistsg)
                                </td>
                                <td>
                                    <input asp-for="Artistsg" class="form-control" />
                                </td>
                            </tr>
                        
                        
                        
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.Commgender)
                                </td>
                                <td>
                                    <input asp-for="Commgender" class="form-control" />
                                </td>
                            </tr>
                        
                        
                        
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.Commsg)
                                </td>
                                <td>
                                    <input asp-for="Commsg" class="form-control" />
                                </td>
                            </tr>
                        
                        
                        
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.Createdate)
                                </td>
                                <td>
                                    <input asp-for="Createdate" class="form-control" />
                                </td>
                            </tr>
                        
                        
                        
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.Createdatemax)
                                </td>
                                <td>
                                    <input asp-for="Createdatemax" class="form-control" />
                                </td>
                            </tr>
                        
                        
                        
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.Createdatemin)
                                </td>
                                <td>
                                    <input asp-for="Createdatemin" class="form-control" />
                                </td>
                            </tr>
                        
                        
                        
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.Workshop)
                                </td>
                                <td>
                                    <input asp-for="Workshop" class="form-control" />
                                </td>
                            </tr>
                        
                        
                        
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.Workshoplist)
                                </td>
                                <td>
                                    <input asp-for="Workshoplist" class="form-control" />
                                </td>
                            </tr>
                        
                    </tbody>
                </table>
            </div>

            <h1>Photographic Information</h1>
            <table>
                <tbody>

                    
                    
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Needbetter)
                            </td>
                            <td>
                                <input asp-for="Needbetter" class="form-control" />
                            </td>
                        </tr>
                    
                    
                    
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Photocopy)
                            </td>
                            <td>
                                <input asp-for="Photocopy" class="form-control" />
                            </td>
                        </tr>
                    
                    
                    
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Photographer)
                            </td>
                            <td>
                                <input asp-for="Photographer" class="form-control" />
                            </td>
                        </tr>
                    
                    
                    
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Photoinvnr)
                            </td>
                            <td>
                                <input asp-for="Photoinvnr" class="form-control" />
                            </td>
                        </tr>
                    
                    
                    
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Photoprov)
                            </td>
                            <td>
                                <input asp-for="Photoprov" class="form-control" />
                            </td>
                        </tr>
                    
                </tbody>
            </table>

            <h1 onclick="hideNotesInfo()">Notes</h1>
            <div id="notesInfo">
                <table>
                    <tbody>
                        
                        
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.Additionalfeatures)
                                </td>
                                <td>
                                    <input asp-for="Additionalfeatures" class="form-control" />
                                </td>
                            </tr>
                        
                        
                        
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.Associatefeatures)
                                </td>
                                <td>
                                    <input asp-for="Associatefeatures" class="form-control" />
                                </td>
                            </tr>
                        
                        
                        
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.Commanditaire)
                                </td>
                                <td>
                                    <input asp-for="Commanditaire" class="form-control" />
                                </td>
                            </tr>
                        
                        
                        
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.Comments)
                                </td>
                                <td>
                                    <input asp-for="Comments" class="form-control" />
                                </td>
                            </tr>
                        
                        
                        
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.Commonfeatures)
                                </td>
                                <td>
                                    <input asp-for="Commonfeatures" class="form-control" />
                                </td>
                            </tr>
                        
                        
                        
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.Confidential)
                                </td>
                                <td>
                                    <input asp-for="Confidential" class="form-control" />
                                </td>
                            </tr>
                        
                        
                        
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.Features)
                                </td>
                                <td>
                                    <input asp-for="Features" class="form-control" />
                                </td>
                            </tr>
                        
                        
                        
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.Ritualassoc)
                                </td>
                                <td>
                                    <input asp-for="Ritualassoc" class="form-control" />
                                </td>
                            </tr>
                        
                        
                        
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.Usage)
                                </td>
                                <td>
                                    <input asp-for="Usage" class="form-control" />
                                </td>
                            </tr>
                        
                        
                        
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.Associatfeatures)
                                </td>
                                <td>
                                    <input asp-for="Associatfeatures" class="form-control" />
                                </td>
                            </tr>
                        
                        
                        
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.Structuralfeatures)
                                </td>
                                <td>
                                    <input asp-for="Structuralfeatures" class="form-control" />
                                </td>
                            </tr>
                        
                    </tbody>
                </table>
            </div>


            <h1>Delete / unknown</h1>
            <table>
                <tbody>
                    
                    
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Tms)
                            </td>
                            <td>
                                <input asp-for="Tms" class="form-control" />
                            </td>
                        </tr>
                    
                    
                    
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Web)
                            </td>
                            <td>
                                <input asp-for="Web" class="form-control" />
                            </td>
                        </tr>
                    
                    
                    
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Yaleid)
                            </td>
                            <td>
                                <input asp-for="Yaleid" class="form-control" />
                            </td>
                        </tr>
                    
                    
                    
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Groups)
                            </td>
                            <td>
                                <input asp-for="Groups" class="form-control" />
                            </td>
                        </tr>
                    
                    
                    
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Unit)
                            </td>
                            <td>
                                <input asp-for="Unit" class="form-control" />
                            </td>
                        </tr>
                    
                    
                    
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Multiline)
                            </td>
                            <td>
                                <input asp-for="Multiline" class="form-control" />
                            </td>
                        </tr>
                    
                    
                    
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Reacttmp)
                            </td>
                            <td>
                                <input asp-for="Reacttmp" class="form-control" />
                            </td>
                        </tr>
                    
                </tbody>
            </table>
            </div>
            <input type="submit" value="Save" class="btn btn-primary"/>
            </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to archive</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
