@model IEnumerable<AHDRCwebsite.Models.ArtworkImage>

@{
    ViewData["Title"] = "Index";
}
<div class="text-light">
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ImageURL)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ImageURL)
            </td>
            <td>
                <a asp-action="Edit" asp-route-artworkimageid="@item.ArtworkImageId">Edit</a> |
                <a asp-action="Details" asp-route-artworkimageid="@item.ArtworkImageId">Details</a> |
                <a asp-action="Delete" asp-route-artworkimageid="@item.ArtworkImageId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
